/* // Medium devices (desktops, 992px and up) */
@media (min-width: 1399px) and (max-width: 1600px) {
    .logo a img {
    width: 150px;
}
  .single-slider {
    height: 100vh;
  }
  .main-menu ul li a {
    padding: 20px 20px;
  }
}

/* // Medium devices (desktops, 992px and up) */
@media (min-width: 1199px) and (max-width: 1400px) {
    .logo a img {
    width: 150px;
}
  .single-slider {
    height: 100vh;
  }
  .main-menu ul li a {
    padding: 20px 10px;
  }
}

/* // Medium devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) {
  .header-area{
  padding-top: 15px;
}
    .logo a img {
    width: 150px;
}
  .single-slider {
    height: 100vh;
  }
  .main-menu ul li a {
    padding: 20px 8px;
  }
  .hire-btn a {
    padding: 10px 30px;
  }
  .pricing-wrapper {
  width: 50%;
}
}

/* // Tablet devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
  .header-area {
	margin: 0px;
}
  .logo a img {
    width: 150px;
}
.header-area{
  padding-top: 15px;
}
.subscript-input input {
    width: 47%;
    margin-bottom: 15px;
}
.subscript-input button {
    width: 47%;
}
.pricing-wrapper {
    width: 50%;
}

}

/* Small mobile : 320px */
@media (max-width: 767px) {
  .header-area {
	margin: 0px;
}
    .logo a img {
    width: 150px;
}
    .header-area{
  padding-top: 15px;
}
.slider-inner h2 {
    font-size: 40px;
}
.subscript-input input {
    width: 99%;
    margin-bottom: 15px;
}
.subscript-input button {
    width: 99%;
}
.pricing-wrapper {
    width: 100%;
}


}

/* Large Mobile :480px */
@media (min-width: 480px) and (max-width: 767px) {

}
